/* Userscursos.css */

/* Estilos para os cards de cursos */
.curso-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .curso-card h3 {
    margin: 0;
  }
  
  /* Estilos para os botões de opções */
  .curso-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .btn-editar,
  .btn-excluir,
  .btn-publicar {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-editar:hover,
  .btn-excluir:hover,
  .btn-publicar:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para o contêiner de tópicos de dúvidas */
  .topicos-duvidas {
    margin-top: 20px;
  }
  
  .btn-ver-topicos {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-ver-topicos:hover {
    background-color: #218838;
  }
  
  .topicos-duvidas ul {
    list-style-type: none;
    padding: 0;
  }
  
  .topicos-duvidas ul li {
    margin-bottom: 5px;
  }
  